body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size:50px;
}
h2{
    font-size:40px;
}
.orange-color{
    color:orange;
    font-family: 'Moon Dance', cursive;
}
.color-style{
    color:orange;
}
.flexible-container{
    display:flex;
    margin-bottom:150px;
}
.half-width{
    width:50%;
    padding-left:4%;
    text-align:justify;
}
.half-width img{
    width:80%;
    padding-top:5%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(to bottom, orange,tomato);
    color:white;
    font-weight:700;
    padding:10px 20px;
    border-radius:5px;
}
.top-section{
    background-image:url(images/top-banner.png);
    background-repeat:no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position: right;
}
.right-padding{
    padding-right:150px;
}
.experiences-area{
    background-image:url(images/exp-bg.png);
    background-repeat:no-repeat;
    background-position: left;
}
.experiences-item{
    width:40%;
    text-align:justify;     
    margin-left:5%;
    margin-right:5%;
    padding-left:5%;
    padding-right:5%;
    border-radius:10px;
    box-shadow: 10px 20px 50px grey;
}
#full-stack-experiences{
    border-left:7px solid;
    border-image:linear-gradient(salmon , tomato);
    border-image-slice: 1;
}
#web-developer{
    border-left:7px solid;
    border-image:linear-gradient(blue, cyan);
    border-image-slice:1;
}
footer p{
    text-align:center;
}